.font-1 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.759;
  font-family: "Work Sans", sans-serif;
}

.font-2 {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  line-height: 1.25;
}
